<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>

    {%block styles%}
    {# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> #}
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> #}
    {%endblock%}
    
    {% include "auth.jinja" %}
</head>
<body>
    <header>
        <h1>{% block header %}Estructura{% endblock %}</h1>
        <!-- Your header content goes here -->
        {% block navbar %}
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                {%if user == undefined or user == None%}
                    <li><a onclick="signIn()">Iniciar Sesión</a></li>
                {%else%}
                    <li><a onclick="signOut()">Cerrar Sesión</a></li>
                {%endif%}
            </ul>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block body %}{% endblock %}
        <!-- Your main content goes here -->
    </main>
    <footer>
        {% block footer %}{% endblock %}
        <!-- Your footer content goes here -->
    </footer>
</body>
</html>
