{%extends "base.jinja" %}

{% block title %} Página principal {% endblock %}
{% block body %}


{%if user != undefined and user != None %}
    <h2>Hola: {{user.name}}</h2>
{% else %}
    <h2>Inicia sesión</h2>
{% endif %}

<h3>Google Firebase Auth</h3>

<h3>Crear entidad</h3>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/crear">Crear entidad</a>
<br /><br />

<h3>Mostrar entidad</h3>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/mostrar">Mostrar entidad + Eliminar + Editar</a>
<br /><br />

{% endblock %}